<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ssweb</title>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css" >
	<style type="text/css">
		body {font-size: 35px;  background: #ebebeb url('');padding-bottom: 30px;}
		.navbar { min-height: 50px;background: #345; color: #fff; padding: 20px; font-size: 55px; }
        .content {padding:20px;}
        .ss {font-size: 20px;}
        .short {background: #28b; font-size:50px;padding: 1px; }
        .table-head {font-size: 50px;}
        .btn-primary {background: #345;padding: 20px 30px;border: 1px solid transparent;border-radius:10px; }
        .delete {background: red; margin-left: 300px;   }
        input { border: -2px; margin: -1px;padding: 12px;}
        label {margin: 0;padding: 12px;}
        .form-horizontal {padding-top: 15px;}
        .info {margin: 10px;padding: 5px;}
        select {border: 2px; margin: 1px 1px;padding: 12px 15px; border-color: #fff;}
	</style>
</head>
<body>
	<div class="navbar">
		<a href="/" style="color: #fff">ss-web</a>
	</div>
	<div class="content">
		<div class="table-head" >
			<span class="col-xs-3" >用户</span>
			<span class="col-xs-3">端口</span>
			<span class="col-xs-3">流量已用</span>
			<span class="col-xs-3">总流量</span>
		</div>
		{% for user in users%}
		<div class="col-xs-12 info">
			<div class="short">
				<span class="col-xs-3">{{user.user}}</span>
				<span class="col-xs-3">{{user.port}}</span>
				<span class="col-xs-3">{{user.used}}</span>
				<span class="col-xs-3">{{user.traffic}}</span>
			</div>
			<div class="hide1" style="display:none">
				<div class="detail">
		    		<p>IP  ： {{user.ip}}</p>
					<p>密码： {{user.passwd}}</p>
					<p>加密： {{user.method}}</p>
					<p>协议： {{user.protocol}}</p>
					<p>混淆： {{user.obfs}}</p>
	                <p >ss链接： <a class="ss" href="{{user.sslink}}">{{user.sslink}}</a></p>
					<p >ssr链接： <a class="ss" href="{{user.ssrlink}}">{{user.ssrlink}}</a></p>
		    	</div>
				<div class="col-xs-12" style="padding: 30px 0px;">
		        	<button  class="btn-primary modify">修改配置</button>
		        	<button  class="btn-primary delete" port="{{user.port}}">删除用户</button>
		        </div>
		        <form class="form-horizontal" role="form" style="display:none">
		        	<div><p>---用户名与端口不可修改---</p></div>
			        <div class="form-group"  style="display: none">
			        	<label for="firstname" class="col-sm-2">用户：</label>
	  					<div class="col-sm-6">
					        <input type="text"  name="name"  value="{{user.user}}" >
					     </div>
			        </div>
			        <div class="form-group" style="display: none" >
			        	<label for="firstname" class="col-sm-2">端口：</label>
      					<div class="col-sm-6">
					        <input type="text"  name="port" value="{{user.port}}" >
					    </div>
			        </div>
			        <div class="form-group"  >
			        	<label for="firstname" class="col-sm-2">密码：</label>
	  					<div class="col-sm-6">
					        <input type="text"  name="passwd"  placeholder="密码(留空则随机)">
					     </div>
			        </div>
			        <div class="form-group"  >
			        	<label for="firstname" class="col-sm-2">加密：</label>
	  					<select name="method">
	                        <option>aes-256-cfb  </option>
				            <option>aes-192-cfb  </option>
				            <option>aes-128-cfb  </option>
				            <option>rc4-md5      </option>
	                        <option>rc4-md5-6    </option>
	                        <option>chacha20     </option>
	                        <option>chacha20-ietf</option>
	                        <option>salsa20      </option>
	                        <option>aes-128-ctr  </option>
	                        <option>aes-192-ctr  </option>
	                        <option>aes-256-ctr  </option>
					    </select>
			        </div>
			        <div class="form-group"  >
			        	<label for="firstname" class="col-sm-2">协议：</label>
	  					<select name="protocol">
				            <option>origin                  </option>
				            <option>auth_sha1_v4            </option>
				            <option>auth_sha1_v4_compatible </option>
				            <option>auth_aes128_md5         </option>
				            <option>auth_aes128_sha1        </option>
	                        <option>auth_chain_a            </option>
					    </select>
			        </div>
			        <div class="form-group"  >
			        	<label for="firstname" class="col-sm-2">混淆：</label>
	  					<select name="obfs">
				            <option>plain                        </option>
				            <option>http_simple_compatible       </option>
				            <option>http_simple                  </option>
				            <option>tls1.2_ticket_auth_compatible</option>
				            <option>tls1.2_ticket_auth           </option>
					    </select>
			        </div>
			        <button  class="btn-primary edit">确认修改</button>
		    	</form>


			</div>
		</div>
        {% endfor%}
        <div class="col-xs-12" style="padding-top: 30px;">
        	<div>
        	<button  class="btn-primary add">添加用户</button>

        	</div>
        	<form class="form-horizontal " role="form" action="/add" style="display:none">
		        <div class="form-group"  >
		        	<label for="firstname" class="col-sm-2">用户：</label>
  					<div class="col-sm-6">
				        <input type="text" class="add" name="name"  placeholder="用户名">
				     </div>
		        </div>
		        <div class="form-group"  >
		        	<label for="firstname" class="col-sm-2">端口：</label>
  					<div class="col-sm-6">
				        <input type="text" class="add" name="port"  placeholder="2000-65000 必须">
				     </div>
		        </div>

		        <div class="form-group"  >
		        	<label for="firstname" class="col-sm-2">密码：</label>
  					<div class="col-sm-6">
				        <input type="text" class="add" name="passwd"  placeholder="密码(留空则随机)">
				     </div>
		        </div>
		        <div class="form-group"  >
		        	<label for="firstname" class="col-sm-2">加密：</label>
  					<select name="method">
                        <option>aes-256-cfb  </option>
			            <option>aes-192-cfb  </option>
			            <option>aes-128-cfb  </option>
			            <option>rc4-md5      </option>
                        <option>rc4-md5-6    </option>
                        <option>chacha20     </option>
                        <option>chacha20-ietf</option>
                        <option>salsa20      </option>
                        <option>aes-128-ctr  </option>
                        <option>aes-192-ctr  </option>
                        <option>aes-256-ctr  </option>
				    </select>
		        </div>
		        <div class="form-group"  >
		        	<label for="firstname" class="col-sm-2">协议：</label>
  					<select name="protocol">
			            <option>origin                  </option>
			            <option>auth_sha1_v4            </option>
			            <option>auth_sha1_v4_compatible </option>
			            <option>auth_aes128_md5         </option>
			            <option>auth_aes128_sha1        </option>
                        <option>auth_chain_a            </option>
				    </select>
		        </div>
		        <div class="form-group"  >
		        	<label for="firstname" class="col-sm-2">混淆：</label>
  					<select name="obfs">
			            <option>plain                        </option>
			            <option>http_simple_compatible       </option>
			            <option>http_simple                  </option>
			            <option>tls1.2_ticket_auth_compatible</option>
			            <option>tls1.2_ticket_auth           </option>
				    </select>
		        </div>
		        <button  class="submit-bt btn-primary">确认添加</button>
	    	</form>
        </div>


	</div>

<script type='text/javascript' src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
	$(".short").click(function(){
    $(this).parent().find(".hide1").toggle(500);
});
	$(".modify").click(function(){
    $(this).parent().parent().find(".form-horizontal").toggle(500);
});
	$(".add").click(function(){
    $(this).parent().parent().find(".form-horizontal").toggle(500);
});
	$(".delete").click(function(){
	var port = $(this).attr("port");
    var url = "/delete/";
    $.post(url,{'port':port},
    function(data,status){
    	window.location.reload()
    })
});
	$(".edit").click(function(){
    var post_data = $(this).parent().serializeArray();
    var url = '/edit'
    $.post(url,post_data,
    function(data,status){
    	window.location.reload()
    })
});
	$(".submit-bt").click(function(){
    var post_data = $(this).parent().serializeArray();
    var url = '/add'
    $.post(url,post_data,
    function(data,status){
    	window.location.reload()
    })
});

</script>
<footer>
	<div class="Copyright">
        <span class="copyright" style="text-align: center;display:block;">&copy;  - <a href="mailto:sanjitown@163.com"> 阿刁</a></span>
    </div>
</footer>
</body>
</html>


